<!DOCTYPE html>
<html>
	<head>
		<title>Корзина</title> 
		<meta name="title" content="Корзина">
		<meta name="description" content="Корзина">
		<meta http-equiv="content-language" content="ru">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<link href="/css/basket.css" rel="stylesheet">
		<script src="/js/basket.js"></script>
	</head>

	<body>       

		<h1>Корзина</h1>
		<div class="cart">
			<div class="row header">
				<div class="column column-name">Название товара</div>
				<div class="column column-cat">Категория товара</div>
				<div class="column column-price">Цена за 1 артикул</div>
				<div class="column column-count">Количество</div>
				<div class="column column-actions">Действия</div>
			</div>
			<form>
				<fieldset>
					<div class="row">
						<div class="column column-name">Редиска</div>
						<div class="column column-cat">
							<dl>
								<dt><a href="#">Овощи и фрукты</a> &gt; </dt>
								<dd><a href="#">Овощи</a></dd>
							</dl>
						</div>
						<div class="column column-price"><span>120</span><span> грн.</span></div>
						<div class="column column-count">
							<input style="margin-top: -5px; text-align: center" title="Количество" type="number" min="1" value="1" />
						</div>
						<div class="column column-actions">
							<a href="#" title="Удалить товар из корзины">Удалить товар</a>
						</div>
					</div>
					<div class="row">
						<div class="column column-name">Арбуз</div>
						<div class="column column-cat">
							<dl>
								<dt><a href="#">Овощи и фрукты</a> &gt; </dt>
								<dd><a href="#">Фрукты</a></dd>
							</dl>
						</div>
						<div class="column column-price"><span>150</span><span> грн.</span></div>
						<div class="column column-count">
							<input style="margin-top: -5px; text-align: center" title="Количество" type="number" min="1" value="2" />
						</div>
						<div class="column column-actions">
							<a href="#" title="Удалить товар из корзины">Удалить товар</a>
						</div>
					</div>
				</fieldset>
			</form>
			<div class="row fotter">
				<button type="button" title="Продолжить покупки">
					<span>Добавить еще одно наименование в корзину</span>
				</button>
				<button type="button" title="Продолжить оформление заказа">
					<span>Сделать заказ</span>
				</button>
			</div>
		</div>
	</body>
</html>