<!DOCTYPE html>
<html>
	<head>
		<title>Заказ</title> 
		<meta name="title" content="Заказ">
		<meta name="description" content="Заказ">
		<meta http-equiv="content-language" content="ru">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<link href="/css/order.css" rel="stylesheet">
	</head>

	<body>

		<h2>Данные клиента</h2>
		<form enctype="multipart/form-data;charset=UTF-8">
			<fieldset class="highlight">   
				<div class="field mandatory-field">			
					<div class="caption"><em>*</em>ФИО:</div>
					<div>
						<input name="fio" value="" title="ФИО" maxlength="255" type="text">
					</div>
				</div>

				<div class="field mandatory-field">
					<div class="caption"><em>*</em>Номер телефона:</div>
					<div>
						<input name="phone" value="" title="Номер телефона" type="text" placeholder="+38(0XX)XXX-XX-XX">
					</div>
				</div>

				<div class="field mandatory-field">
					<div class="caption"><em>*</em>Email адрес:</div>
					<div>
						<input name="email" value="" title="Email адрес" type="text" placeholder="hello@gmail.com">
					</div>
				</div>

				<div class="field mandatory-field">
					<div class="caption"><em>*</em>Способ доставки:</div>
					<div>
						<input value="1" title="Самовывоз" type="radio" name="delivery">Самовывоз
						<input value="2" title="Доставка"  type="radio" name="delivery" checked>Доставка
					</div>
				</div>

				<div class="field mandatory-field">
					<div class="caption">Ваш адрес:</div>
					<div>
						<input title="Адрес" name="address" value="" type="text" style="width: 400px;">
					</div>

				</div>

				<div class="field mandatory-field">
					<div class="caption"><em>*</em>Оплата:</div>
					<div><select title="Оплата">
							<option title="Наличными" value="1" id="payment-type-cash">Наличными</option>
							<option title="Безналичная" value="2" id="payment-type-non-cash">Безналичная</option>
						</select>
					</div>
				</div>		

				<div class="field">Комментарий:
					<div><textarea value="" title="Комментарий" style="width:400px; height:40px"></textarea></div>
				</div>

				<div class="mandatory-field">
					<div class="caption"><em>*</em></div>
						<input type="checkbox">Согласен с пользовательским договором.					
				</div>						
			</fieldset>
		</form>

		<div class="summary">
			<h3>Данные по заказу</h3>
			
			<div class="field">
				<div class="caption">Редиска</div>
				<div><span>1</span>шт.</div>
			</div>
			
			<div class="field">
				<div class="caption">Арбуз</div>
				<div><span>2</span>шт.</div>
			</div>
			
			<div style="font-weight: bold; margin-top:1em">Общая сумма заказа: <span>420</span>грн.</div>	
		</div>	

		<button type="button" title="Подтвердить заказ"><span style="font-size: 20px">Подтвердить заказ</span></button>

		<div style="display: none; color: red">Спасибо за покупку!</div>

	</body>
</html>